entrypoint = "index.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[auth]
pageEnabled = false
buttonEnabled = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 43223
externalPort = 3000
exposeLocalhost = true
